@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');


body {
    font-family: 'Source Sans Pro';
    font-weight: 200;
    background-color: #eee;
}

.date {
    text-align: left;
}

h1 {
    font-family: 'Abril Fatface';
    text-align: center;
}

h2 {
    font-family: 'Roboto Slab';
    text-align: left;
}

.newspaper-container {
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 4px 4px gray;
    margin: auto;
    background-color: white;
    padding: 1em;
}

li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}

ul {
    border: solid black;
    border-width: 1px 0px 1px 0px;
    padding: 5px;
    text-align: center;
}

a {
    color: gray;
}

main img {
    display: flex;
    margin: auto;
    width: 100%;
}

main p {
    display: flex;
}

section {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.more-articles {
    display: flex;
    margin: auto;
    width: 100%;
    padding: 10px;

}

nav {
    position: sticky;
    top: 0;
    background-color: white;
}

.extra-articles {
    display: inline-flex;
    padding: 1px;
    margin: 0%;
    width: 50%;
}